<h1> Update your workout below: </h1>

<%= @workout.name%>

<%= form_for @workout do |f| %>

    <%= render partial: 'routines', locals: { f: f } %>
    
    <%= f.submit "Update your workout" %>

<% end %>