<div class="welcome-panel">
<h1>Welcome
<br>
to the 
<br>
Fit Planning Partner!
</h1>
<br>
<%=image_tag("dumbbell.png", width: "200")%>

<br><br><br>


<h2><i>
Organize your workouts efficiently on our app!
</i></h2>
</div>