<h1> Log in to continue! </h1>

<h2> Already have an account? Enter your information. </h2>
<%= form_for @user, url: login_path do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.submit "Log In" %>
<% end %>

<h2>Or log in with your Google account </h2>
