<i><h1> Welcome <%= @user.name.titlecase %>! </h1></i>

<br>

<% if @user.workouts.empty? %>
    <h2> You have <u>not</u> a created a workout yet </h2>
<% else %>
    <h3> Here are your created workouts:</h3> <br>
    <% @user.workouts.each do |uw| %>
    <h4><b><%= link_to "#{uw.name}", workout_path(uw) %><br></b></h4>
    <% end %>
<% end %>


<br>
<u><%= link_to "Need some inspiration?", workouts_path %></u>