<h1> Exercise Info </h1>
<ul>
    <li> <h3> Exercise: </h3> 
    <%= @exercise.name %> 
    </li> 

    <li> <h3> Target Muscle(s): </h3> 
    <%= @exercise.target_area %> 
    </li> 

    <li> <h3> Category: </h3> 
    <%= @exercise.category %> 
    </li> 
</ul>
<!---
DOES NOT WORK
    <% if !current_user %>
    <%= link_to "Edit Exercise", edit_exercise_path(@exercise) %>
    <% end %>
-->
